<section class="bg-white vh-100 mt-5">
    <div class="container shadow p-5 w-50 bg-light mt-5" >
        <form action="/admin/add-categories" id="formdsub" method="post">
        <div class="row g-3 justify-content-center align-items-center p-5 bg-light">
          
            <div class="col-md-8 p-2 mt-3 ">
                <input type="text" name="category" class="form-control" placeholder="Category name" aria-label="Category name">
            </div>
        </div>
        <div class="row justify-content-center bg-light">
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary w-100" >Add</button>
            </div>
        </div>
        </form>
    </div>
</section>