<div id="forgot-box" >
        <div class="my-auto myShadow">
          <div class="row">
            <div class="mt-4">
             <div class="p-5 mx-auto col-md-6 shadow-lg">
                <div class="position-absolute top-0 start-50 translate-middle mt-4">
              <img src="/images/images/logo.png" alt="">
            </div>
              <h1 class="text-center font-weight-bold text-primary">Enter your phone number</h1>
              <hr class="my-3"/>
              <form action="/get_otp" method="get" class="px-3" id="formdsub">
                <div id="forgotAlert"></div>

                  {{#if error}} 
                  <p class="alert-danger text-center">{{error}} </p>
                  {{/if}}
                <div class="input-group input-group-lg form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text rounded-0"><i class="far fa-phone fa-lg"></i></span>
                  </div>
                  <input type="tel" id="phonenumber" name="phonenumber" class="form-control rounded-0" placeholder="Phone number" />
                </div>
                <input type="hidden" id="sms" value="sms" name="channel">
                <div class="form-group">
                  <input type="submit" id="forgot-btn" value="Get OTP" class="btn btn-primary btn-lg btn-block myBtn"/>
                </div>
              </form>
            </div>
            <div class="col-lg-5 d-flex flex-column justify-content-center myColor p-4">
              <h1 class="text-center font-weight-bold text-white">Reset Password!</h1>
              <hr class="my-4 bg-light myHr" />
              <button class="btn btn-outline-light btn-lg font-weight-bolder myLinkBtn align-self-center" id="back-link">Back</button>
            </div>
          </div>
        </div>
      </div>